<h1>Welcome to Luxry Car Trader!</h1>
<h2>The best place to buy or sale luxry or exotic vehicles.</h2>
<h3>Please login or create an account to view our current inventory or list your vehicle</h3>
<a href="/login">Log In</a>
<a href="/signup">Sign up</a>